# Zen of python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# The Python Programming Language: Types and Sequences

Use `type` to return the object's type.

In [3]:
type("hello")
type(123)

int

In [4]:
type(33 + 5)

int

In [6]:
type(10 * 10)

int

In [8]:
type(100 / 10)

float

In [9]:
7 / 3

2.3333333333333335

In [10]:
7 // 3

2

In [12]:
# exponents
2 ** 3

8

In [13]:
7 % 3

1

In [14]:
"hallo " + "und herzlich willkommen"

'hallo und herzlich willkommen'

In [15]:
"Hallo" * 3

'HalloHalloHallo'

In [17]:
name = "moritz"

In [19]:
name == "alex"

False

In [20]:
name == "moritz"

True

In [23]:
x = 10

x != 100
x == 10

True

In [24]:
x < 10

False

In [28]:
(5 < x < 100)

False

In [40]:
type(number)

str

In [43]:
int("10")

10

In [52]:
number = 100
other_number = int("50") # this is a string
type(other_number)

number < other_number

False

In [64]:
user_input = input()
user_input_int = int(user_input)
type(user_input_int)

int

In [66]:
age = int(input())
if age < 30:
    print("goooosh you are young")
else:
    print("you old man")

goooosh you are young

In [74]:
3 * 4 - 2
3 * (4 - 2)

6

In [76]:
print("this is the number", number)

this is the number 100

# The Python Programming Language: Functions

`add_numbers` is a function that takes two numbers and adds them together.

In [93]:
def add_numbers(x, y):
    return x + y

In [94]:
add_numbers(2,3)

5

Try calling the function using strings

In [96]:
add_numbers('abc','def')

'abcdef'

Now using a 3rd parameter

In [97]:
add_numbers(1,2,3)

TypeError: add_numbers() takes 2 positional arguments but 3 were given

Support an additional parameter

In [99]:
def add_numbers(x, y, z):
    return x + y + z

In [101]:
add_numbers(2,3,5)

10

In [107]:
def add_numbers(x, y, z=5):
    return x+y+z

In [109]:
add_numbers(2,3,0)

5

In [110]:
add_numbers(z=5, x=3, y=2)

10

`add_numbers` updated to take an optional flag parameter. Using `print` allows printing of multiple expressions within a single cell.

In [115]:
def add_numbers(x, y, z=None, flag=False):
    return

add_numbers(1,2)
add_numbers(1,2,3)
add_numbers(1,2,3,4)

Assign function `add_numbers` to variable `a`.

In [121]:
def add_numbers(x, y, z=None, flag=False):
    if flag:
        print('Flag is true')
    if not z:
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2, flag=True))

Flag is true
3

In [120]:
print(add_numbers(1,2,3, True))

Flag is true
6

In [123]:
x = 3
y = 4

6

# Tuples & Lists

## Lists
Lists are a mutable data structure.

In [130]:
x = 3
y = 4

In [162]:
liste = [100, x, y, 5]
liste

[100, 3, 4, 5]

Use `append` to append an object to a list.

In [157]:
liste.append(6)
liste

[3, 4, 5, 6]

In [159]:
liste.append(1.3)
liste.append('Max')

[3, 4, 5, 6, 'Max', 1.3]

In [161]:
liste[0]  # index bei 0 anfängt zu zählen, liste[1] ist erster eintrag
liste[1] # index bei 0 anfängt zu zählen, liste[1] ist zweiter eintrag

4

In [166]:
liste

[100, 3, 4, 5]

In [165]:
liste[0] * 3

300

This is an example of how to loop through each item in the list.

In [168]:
for item in liste:
    print("list contains value", item)

list contains value 100
list contains value 3
list contains value 4
list contains value 5

In [180]:
liste[:]

[100, 3, 4, 5]

In [171]:
liste[1:] # retrieve all values from index = 1 to end

[3, 4, 5]

In [183]:
liste[1:3] # retrieve all values from index 1 to index 3 (excl.)

[3, 4]

**len()** Für die Anzahl der Einträge

In [185]:
len("das ist ein wort")

16

In [184]:
len(liste)

4

Or using the indexing operator:

Use `+` to concatenate lists.

In [187]:
[1,2] + [3,4] + [5,6] + liste

[1, 2, 3, 4, 5, 6, 100, 3, 4, 5]

Use `*` to repeat lists.

In [188]:
liste * 3

[100, 3, 4, 5, 100, 3, 4, 5, 100, 3, 4, 5]

Use the `in` operator to check if something is inside a list.

In [194]:
# usage of in operator
number_request = int(input())
if number_request in liste:
    print('number occurs', number_request)
else:
    print('list does not contain number', number_request)

number occurs 100

In [196]:
liste.insert(2,-99)

In [198]:
liste.remove(3)

In [203]:
liste[1] = 75 # lists are mutable, i.e. we can overwrite values, and extend the list of items a list contains

In [202]:
liste

[100, 75, 4, 5]

Ab der dritten Stelle bis zum Ende

Von 2ter bis 5ter stelle

Jedes Element in sliced mal 2 rechnen. Ergebnis = [6, 8, 10, 12]

Python way = List comprehension

## Tuples

In [207]:
t = (1, "cat", "red", "blue", True)

In [208]:
t[0] = 33 # a tuple is read-only (i.e. immutable)

TypeError: 'tuple' object does not support item assignment

In [212]:
t[1:3]

('cat', 'red')

In [213]:
'cat' in t

True

In [214]:
'edin' in t

False

In [215]:
for item in t:
    print('tuple contains value', item)

tuple contains value 1
tuple contains value cat
tuple contains value red
tuple contains value blue
tuple contains value True

In [217]:
sammlung = 123, 456
first, second = sammlung

In [218]:
first

123

In [219]:
second

456

In [222]:
x = 3
y = 0
x, y = y, x

In [223]:
print(x,y)

0 3

## Strings
Now let's look at strings. Use bracket notation to slice a string.

In [224]:
letter = "This is a string"
letter[0]

'T'

In [226]:
letter[0:4]

'This'

In [228]:
letter[:7]

'This is'

This will return the last element of the string.

In [229]:
letter[-1]

'g'

This is a slice from the beginning of the string and stopping before the 3rd element.

In [230]:
letter[0:-5]

'This is a s'

And this is a slice starting from the 4th element of the string and going all the way to the end.

In [232]:
letter[3:]

's is a string'

**Concatenate**

In [235]:
firstname="David"
lastname="Mikhael"
fullname = firstname +' '+ lastname
fullname

'David Mikhael'

`in` operator also with strings

In [238]:
'David' in fullname

True

In [240]:
fullname = '{},{}'.format(firstname, lastname)

`split` returns a list of all the words in a string, or a list split on a specific character.

In [242]:
fullname.split(',')

['David', 'Mikhael']

Make sure you convert objects to strings before concatenating.

In [245]:
str(33) + ' ' + 'Max'

'33 Max'

In [246]:
f'His name is {fullname}'

'His name is David,Mikhael'

In [247]:
f'The result of the calculation is {3 * 100}'

'The result of the calculation is 300'

Python has a built in method for convenient string formatting.

In [1]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']
                             ))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

## Dictionary (aka hashtable)

In [2]:
person = {'name':'Martin', 'mail':'martin@fhwn.ac.at',}

In [4]:
person['mail']

'martin@fhwn.ac.at'

In [5]:
people_mail = {'Mo':'mo@fhwn.ac.at', 'Johannes':'johannes@fhwn.ac.at',
              'Bill Gates': 'b.gates@microsoft.com'
              }

In [6]:
people_mail

{'Mo': 'mo@fhwn.ac.at',
 'Johannes': 'johannes@fhwn.ac.at',
 'Bill Gates': 'b.gates@microsoft.com'}

Iterate over all of the keys:

In [7]:
for key in people_mail:
    print(key)

Mo
Johannes
Bill Gates

Iterate over all of the values:

In [8]:
for value in people_mail.values():
    print(value)

mo@fhwn.ac.at
johannes@fhwn.ac.at
b.gates@microsoft.com

In [15]:
for key in people_mail:
    print(key +' : ' +people_mail[key])

Mo : mo@fhwn.ac.at
Johannes : johannes@fhwn.ac.at
Bill Gates : b.gates@microsoft.com

In [23]:
key ='Mo'
if not people_mail.get(4444):
    print('does not exist')

does not exist

Iterate over all of the items in the list:

In [31]:
list_pairs = people_mail.items()
list_pairs

dict_items([('Mo', 'mo@fhwn.ac.at'), ('Johannes', 'johannes@fhwn.ac.at'), ('Bill Gates', 'b.gates@microsoft.com')])

In [37]:
for pair in people_mail.items():
    key, value = pair
    print(pair)
    print(key)
    print(value)

('Mo', 'mo@fhwn.ac.at')
Mo
mo@fhwn.ac.at
('Johannes', 'johannes@fhwn.ac.at')
Johannes
johannes@fhwn.ac.at
('Bill Gates', 'b.gates@microsoft.com')
Bill Gates
b.gates@microsoft.com

In [34]:
for key, value in people_mail.items():
    print('key', key)
    print('value', value)

key Mo
value mo@fhwn.ac.at
key Johannes
value johannes@fhwn.ac.at
key Bill Gates
value b.gates@microsoft.com

In [38]:
shopping_list = {'apples': 2, 'avocados': 100, 'pumpkin':3}

In [39]:
shopping_list

{'apples': 2, 'avocados': 100, 'pumpkin': 3}

In [40]:
shopping_list['bananas'] = 5

In [41]:
shopping_list

{'apples': 2, 'avocados': 100, 'pumpkin': 3, 'bananas': 5}

In [43]:
sum_items = 0
for key in shopping_list:
    sum_items = sum_items + shopping_list[key]
    #sum_items += shopping_list[key]
sum_items

110

In [45]:
sum_items = 0
for value in shopping_list.values():
    sum_items += value
print(sum_items)

110

In [46]:
sum(shopping_list.values())

110

In [51]:
items_bigger = []
for item in shopping_list.values():
    if item < 100:
        items_bigger.append(item)
items_bigger

[2, 3, 5]

In [53]:
[item for item in shopping_list.values() if item < 100]

[2, 3, 5]

## Unpacking

You can unpack a sequence into different variables:

In [ ]:
def values():
    return 1,2

Make sure the number of values you are unpacking matches the number of variables being assigned.

# Reading and Writing CSV files

Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [ ]:
!cat class_mpg.csv

In [54]:
import csv

In [55]:
with open('class_mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [56]:
mpg

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'},
 {'': '4',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'auto(av)',
  'drv': 'f',
  'cty': '21',
  'hwy': '30',
  'fl': 'p',
  'class': 'compact'},
 {'': '5',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '16',
  'hwy': '26',
  'fl': 'p',
  'class': 'compact'},
 {'': '6',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '26',
  'fl': 'p',
  'class': 'compact'},
 {'': '7',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '3.1',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(av)',
  'drv': 'f',
  'cty': '18',
  'hwy': '27',
  'fl': 'p',
  'class': 'compact'},
 {'': '8',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '18',
  'hwy': '26',
  'fl': 'p',
  'class': 'compact'},
 {'': '9',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '16',
  'hwy': '25',
  'fl': 'p',
  'class': 'compact'},
 {'': '10',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': '4',
  'cty': '20',
  'hwy': '28',
  'fl': 'p',
  'class': 'compact'},
 {'': '11',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'auto(s6)',
  'drv': '4',
  'cty': '19',
  'hwy': '27',
  'fl': 'p',
  'class': 'compact'},
 {'': '12',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '2.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '15',
  'hwy': '25',
  'fl': 'p',
  'class': 'compact'},
 {'': '13',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '2.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '17',
  'hwy': '25',
  'fl': 'p',
  'class': 'compact'},
 {'': '14',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '3.1',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(s6)',
  'drv': '4',
  'cty': '17',
  'hwy': '25',
  'fl': 'p',
  'class': 'compact'},
 {'': '15',
  'manufacturer': 'audi',
  'model': 'a4 quattro',
  'displ': '3.1',
  'year': '2008',
  'cyl': '6',
  'trans': 'manual(m6)',
  'drv': '4',
  'cty': '15',
  'hwy': '25',
  'fl': 'p',
  'class': 'compact'},
 {'': '16',
  'manufacturer': 'audi',
  'model': 'a6 quattro',
  'displ': '2.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '15',
  'hwy': '24',
  'fl': 'p',
  'class': 'midsize'},
 {'': '17',
  'manufacturer': 'audi',
  'model': 'a6 quattro',
  'displ': '3.1',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(s6)',
  'drv': '4',
  'cty': '17',
  'hwy': '25',
  'fl': 'p',
  'class': 'midsize'},
 {'': '18',
  'manufacturer': 'audi',
  'model': 'a6 quattro',
  'displ': '4.2',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(s6)',
  'drv': '4',
  'cty': '16',
  'hwy': '23',
  'fl': 'p',
  'class': 'midsize'},
 {'': '19',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'displ': '5.3',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '14',
  'hwy': '20',
  'fl': 'r',
  'class': 'suv'},
 {'': '20',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'displ': '5.3',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '11',
  'hwy': '15',
  'fl': 'e',
  'class': 'suv'},
 {'': '21',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'displ': '5.3',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '14',
  'hwy': '20',
  'fl': 'r',
  'class': 'suv'},
 {'': '22',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'displ': '5.7',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '23',
  'manufacturer': 'chevrolet',
  'model': 'c1500 suburban 2wd',
  'displ': '6',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '12',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '24',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'displ': '5.7',
  'year': '1999',
  'cyl': '8',
  'trans': 'manual(m6)',
  'drv': 'r',
  'cty': '16',
  'hwy': '26',
  'fl': 'p',
  'class': '2seater'},
 {'': '25',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'displ': '5.7',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '15',
  'hwy': '23',
  'fl': 'p',
  'class': '2seater'},
 {'': '26',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'displ': '6.2',
  'year': '2008',
  'cyl': '8',
  'trans': 'manual(m6)',
  'drv': 'r',
  'cty': '16',
  'hwy': '26',
  'fl': 'p',
  'class': '2seater'},
 {'': '27',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'displ': '6.2',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(s6)',
  'drv': 'r',
  'cty': '15',
  'hwy': '25',
  'fl': 'p',
  'class': '2seater'},
 {'': '28',
  'manufacturer': 'chevrolet',
  'model': 'corvette',
  'displ': '7',
  'year': '2008',
  'cyl': '8',
  'trans': 'manual(m6)',
  'drv': 'r',
  'cty': '15',
  'hwy': '24',
  'fl': 'p',
  'class': '2seater'},
 {'': '29',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'displ': '5.3',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '14',
  'hwy': '19',
  'fl': 'r',
  'class': 'suv'},
 {'': '30',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'displ': '5.3',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '14',
  'fl': 'e',
  'class': 'suv'},
 {'': '31',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'displ': '5.7',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '15',
  'fl': 'r',
  'class': 'suv'},
 {'': '32',
  'manufacturer': 'chevrolet',
  'model': 'k1500 tahoe 4wd',
  'displ': '6.5',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '14',
  'hwy': '17',
  'fl': 'd',
  'class': 'suv'},
 {'': '33',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'displ': '2.4',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '19',
  'hwy': '27',
  'fl': 'r',
  'class': 'midsize'},
 {'': '34',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'displ': '2.4',
  'year': '2008',
  'cyl': '4',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '22',
  'hwy': '30',
  'fl': 'r',
  'class': 'midsize'},
 {'': '35',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'displ': '3.1',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '18',
  'hwy': '26',
  'fl': 'r',
  'class': 'midsize'},
 {'': '36',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'displ': '3.5',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'r',
  'class': 'midsize'},
 {'': '37',
  'manufacturer': 'chevrolet',
  'model': 'malibu',
  'displ': '3.6',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(s6)',
  'drv': 'f',
  'cty': '17',
  'hwy': '26',
  'fl': 'r',
  'class': 'midsize'},
 {'': '38',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '2.4',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l3)',
  'drv': 'f',
  'cty': '18',
  'hwy': '24',
  'fl': 'r',
  'class': 'minivan'},
 {'': '39',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '17',
  'hwy': '24',
  'fl': 'r',
  'class': 'minivan'},
 {'': '40',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.3',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '16',
  'hwy': '22',
  'fl': 'r',
  'class': 'minivan'},
 {'': '41',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.3',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '16',
  'hwy': '22',
  'fl': 'r',
  'class': 'minivan'},
 {'': '42',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.3',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '17',
  'hwy': '24',
  'fl': 'r',
  'class': 'minivan'},
 {'': '43',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.3',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '17',
  'hwy': '24',
  'fl': 'r',
  'class': 'minivan'},
 {'': '44',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.3',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '11',
  'hwy': '17',
  'fl': 'e',
  'class': 'minivan'},
 {'': '45',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '15',
  'hwy': '22',
  'fl': 'r',
  'class': 'minivan'},
 {'': '46',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': 'f',
  'cty': '15',
  'hwy': '21',
  'fl': 'r',
  'class': 'minivan'},
 {'': '47',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '3.8',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l6)',
  'drv': 'f',
  'cty': '16',
  'hwy': '23',
  'fl': 'r',
  'class': 'minivan'},
 {'': '48',
  'manufacturer': 'dodge',
  'model': 'caravan 2wd',
  'displ': '4',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l6)',
  'drv': 'f',
  'cty': '16',
  'hwy': '23',
  'fl': 'r',
  'class': 'minivan'},
 {'': '49',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '3.7',
  'year': '2008',
  'cyl': '6',
  'trans': 'manual(m6)',
  'drv': '4',
  'cty': '15',
  'hwy': '19',
  'fl': 'r',
  'class': 'pickup'},
 {'': '50',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '3.7',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '14',
  'hwy': '18',
  'fl': 'r',
  'class': 'pickup'},
 {'': '51',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '3.9',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '52',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '3.9',
  'year': '1999',
  'cyl': '6',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '14',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '53',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '14',
  'hwy': '19',
  'fl': 'r',
  'class': 'pickup'},
 {'': '54',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '14',
  'hwy': '19',
  'fl': 'r',
  'class': 'pickup'},
 {'': '55',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '9',
  'hwy': '12',
  'fl': 'e',
  'class': 'pickup'},
 {'': '56',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '5.2',
  'year': '1999',
  'cyl': '8',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '11',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '57',
  'manufacturer': 'dodge',
  'model': 'dakota pickup 4wd',
  'displ': '5.2',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '15',
  'fl': 'r',
  'class': 'pickup'},
 {'': '58',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '3.9',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '59',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '60',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '9',
  'hwy': '12',
  'fl': 'e',
  'class': 'suv'},
 {'': '61',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '62',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '5.2',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '16',
  'fl': 'r',
  'class': 'suv'},
 {'': '63',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '5.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '18',
  'fl': 'r',
  'class': 'suv'},
 {'': '64',
  'manufacturer': 'dodge',
  'model': 'durango 4wd',
  'displ': '5.9',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '15',
  'fl': 'r',
  'class': 'suv'},
 {'': '65',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'manual(m6)',
  'drv': '4',
  'cty': '12',
  'hwy': '16',
  'fl': 'r',
  'class': 'pickup'},
 {'': '66',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '9',
  'hwy': '12',
  'fl': 'e',
  'class': 'pickup'},
 {'': '67',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '68',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '69',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'manual(m6)',
  'drv': '4',
  'cty': '12',
  'hwy': '16',
  'fl': 'r',
  'class': 'pickup'},
 {'': '70',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '4.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'manual(m6)',
  'drv': '4',
  'cty': '9',
  'hwy': '12',
  'fl': 'e',
  'class': 'pickup'},
 {'': '71',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '5.2',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '15',
  'fl': 'r',
  'class': 'pickup'},
 {'': '72',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '5.2',
  'year': '1999',
  'cyl': '8',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '11',
  'hwy': '16',
  'fl': 'r',
  'class': 'pickup'},
 {'': '73',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '5.7',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '74',
  'manufacturer': 'dodge',
  'model': 'ram 1500 pickup 4wd',
  'displ': '5.9',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '15',
  'fl': 'r',
  'class': 'pickup'},
 {'': '75',
  'manufacturer': 'ford',
  'model': 'expedition 2wd',
  'displ': '4.6',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '11',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '76',
  'manufacturer': 'ford',
  'model': 'expedition 2wd',
  'displ': '5.4',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': 'r',
  'cty': '11',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '77',
  'manufacturer': 'ford',
  'model': 'expedition 2wd',
  'displ': '5.4',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l6)',
  'drv': 'r',
  'cty': '12',
  'hwy': '18',
  'fl': 'r',
  'class': 'suv'},
 {'': '78',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'displ': '4',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '14',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '79',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'displ': '4',
  'year': '1999',
  'cyl': '6',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '15',
  'hwy': '19',
  'fl': 'r',
  'class': 'suv'},
 {'': '80',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'displ': '4',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '14',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '81',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'displ': '4',
  'year': '2008',
  'cyl': '6',
  'trans': 'auto(l5)',
  'drv': '4',
  'cty': '13',
  'hwy': '19',
  'fl': 'r',
  'class': 'suv'},
 {'': '82',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'displ': '4.6',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l6)',
  'drv': '4',
  'cty': '13',
  'hwy': '19',
  'fl': 'r',
  'class': 'suv'},
 {'': '83',
  'manufacturer': 'ford',
  'model': 'explorer 4wd',
  'displ': '5',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'suv'},
 {'': '84',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '4.2',
  'year': '1999',
  'cyl': '6',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '14',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '85',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '4.2',
  'year': '1999',
  'cyl': '6',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '14',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '86',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '4.6',
  'year': '1999',
  'cyl': '8',
  'trans': 'manual(m5)',
  'drv': '4',
  'cty': '13',
  'hwy': '16',
  'fl': 'r',
  'class': 'pickup'},
 {'': '87',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '4.6',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '13',
  'hwy': '16',
  'fl': 'r',
  'class': 'pickup'},
 {'': '88',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '4.6',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '89',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '5.4',
  'year': '1999',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '11',
  'hwy': '15',
  'fl': 'r',
  'class': 'pickup'},
 {'': '90',
  'manufacturer': 'ford',
  'model': 'f150 pickup 4wd',
  'displ': '5.4',
  'year': '2008',
  'cyl': '8',
  'trans': 'auto(l4)',
  'drv': '4',
  'cty': '13',
  'hwy': '17',
  'fl': 'r',
  'class': 'pickup'},
 {'': '91',
  'manufacturer': 'ford',
  'model': 'mustang',
  'displ': '3.8',
  'year': '1999',
  'cyl': '6',
  'trans': 'manual(m5)',
  'drv': 'r',
  'cty': '18',
  'hwy': '26',
  'fl': 'r',
  'class': 'subcompact'},
 {'': '92',
  'manufacturer': 'ford',
  'model': 'mustang',
  'displ': '3.8',
  'year': '1999',
  'cyl': '6',

`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

`keys` gives us the column names of our csv.

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

Similarly this is how to find the average hwy fuel economy across all cars.


Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [ ]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

#CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

In [ ]:
vehicleclass = set([row['class'] for row in mpg])
vehicleclass

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [ ]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

# The Python Programming Language: Dates and Times

In [ ]:
import datetime as dt
import time as tm

`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

Convert the timestamp to datetime.

Handy datetime attributes:

`timedelta` is a duration expressing the difference between two dates.

`date.today` returns the current local date.


# The Python Programming Language: Objects and map()

An example of a class in python:

In [ ]:
class Person:
    department = "School"
    
    def set_name(self, new_name):
        self.name = new_name
    def say_name(self):
        print(self.name)

In [1]:
def add(x,y):
    return x+y
add(3,4)

7

In [3]:
lambda_add = lambda x,y: x+y

lambda_add(3,6)

9

In [4]:
items = ['a', 'b', 'c']
len(items[0])

1

In [5]:
min(2,3)

2

Here's an example of mapping the `min` function between two lists.

In [9]:
price = [10,12,13,14]
price2 = [11,22,9]

cheapest = map(max, price, price2)

for item in cheapest:
    print(item)

11
22
13

Now let's iterate through the map object to see the values.

# The Python Programming Language: Lambda and List Comprehensions

Here's an example of lambda that takes in three parameters and adds the first two.

In [14]:
is_even = lambda x: x % 2 == 0

[x for x in filter(is_even, range(0,10))]

[0, 2, 4, 6, 8]

Let's iterate from 0 to 999 and return the even numbers.

Now the same thing but with list comprehension.

# The Python Programming Language: Numerical Python (NumPy)

In [ ]:
import numpy as np

## Creating Arrays

Create a list and convert it to a numpy array

Or just pass in a list directly

Pass in a list of lists to create a multidimensional array.

Use the shape method to find the dimensions of the array. (rows, columns)

`arange` returns evenly spaced values within a given interval.

`reshape` returns an array with the same data with a new shape.

`linspace` returns evenly spaced numbers over a specified interval.

`resize` changes the shape and size of array in-place.

`ones` returns a new array of given shape and type, filled with ones.

`zeros` returns a new array of given shape and type, filled with zeros.

`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

`diag` extracts a diagonal or constructs a diagonal array.

Create an array using repeating list (or see `np.tile`)

Repeat elements of an array using `repeat`.

#### Combining Arrays

Use `vstack` to stack arrays in sequence vertically (row wise).

Use `hstack` to stack arrays in sequence horizontally (column wise).

## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

Let's look at transposing arrays. Transposing permutes the dimensions of the array.

The shape of array `z` is `(2,3)` before transposing.

Use `.T` to get the transpose.


The number of rows has swapped with the number of columns.

Use `.dtype` to see the data type of the elements in the array.

Use `.astype` to cast to a specific type.

## Math Functions

Numpy has many built in math functions that can be performed on arrays.

Sum

Max

Min

Mean

Std

`argmax` and `argmin` return the index of the maximum and minimum values in the array.

argmax()

a.argmin()

## Indexing / Slicing

Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

Use negatives to count from the back.

A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

Let's look at a multidimensional array.

Use bracket notation to slice: `array[row, column]`

And use : to select a range of rows or columns

Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

This is a slice of the last row, and only every other element.

We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [ ]:
r[r>30] = 100

In [ ]:
r

## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [ ]:
# r2 = 0

Set this slice's values to zero ([:] selects the entire array)

`r` has also been changed!

To avoid this, use `r.copy` to create a copy that will not affect the original array

Now when r_copy is modified, r will not be changed.

### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.


Iterate by row:


Iterate by index:

Iterate by row and index:

Use `zip` to iterate over multiple iterables.