In [6]:
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio

In [7]:
def secrets():
    return {"host": "dsc-inf.postgres.database.azure.com",
            "port": 5432,
            "database": "music-store",
            "user": "lecturer",
            "pass": "6a955d6cff"}

In [8]:
secrets = secrets()
conn = psycopg2.connect(host=secrets['host'],
                        port=secrets['port'],
                        database=secrets['database'],
                        user=secrets['user'],
                        password=secrets['pass'],
                        connect_timeout=3)

In [14]:
dat = sqlio.read_sql_query("select * from tracks where unit_price > 1", conn)

In [15]:
dat

,id,name,album_id,media_type_id,genre_id,composer,milliseconds,bytes,unit_price
0,2819,Battlestar Galactica: The Story So Far,226,3,18,None,2622250,490750393,1.99
1,2820,Occupation / Precipice,227,3,19,None,5286953,1054423946,1.99
2,2821,"Exodus, Pt. 1",227,3,19,None,2621708,475079441,1.99
3,2822,"Exodus, Pt. 2",227,3,19,None,2618000,466820021,1.99
4,2823,Collaborators,227,3,19,None,2626626,483484911,1.99
...,...,...,...,...,...,...,...,...,...
208,3362,"There's No Place Like Home, Pt. 1",261,3,21,None,2609526,522919189,1.99
209,3363,"There's No Place Like Home, Pt. 2",261,3,21,None,2497956,523748920,1.99
210,3364,"There's No Place Like Home, Pt. 3",261,3,21,None,2582957,486161766,1.99
211,3428,Branch Closing,251,3,22,None,1814855,360331351,1.99
212,3429,The Return,251,3,22,None,1705080,343877320,1.99