In [2]:
# run `!pip install ipython-sql` to install sql module
%load_ext sql
%sql postgresql://student:KUOgN6chetHuZ9f9wZ0c@dsc-inf.postgres.database.azure.com/music-store

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Try if connection works

In [3]:
%%sql 
select * from 
albums limit 10

 * postgresql://student:***@dsc-inf.postgres.database.azure.com/music-store
10 rows affected.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3),
 (6, 'Jagged Little Pill', 4),
 (8, 'Warner 25 Anos', 6),
 (9, 'Plays Metallica By Four Cellos', 7),
 (10, 'Audioslave', 8),
 (11, 'Out Of Exile', 8)]

Genre = 1 oder 2 und Unit_price = 0.99 ?

Selecting all tracks that have unit price = 0.99
or all tracks that are priced with 1.99 and at the same time have genre_id =3

Sort tracks by price and length descending

Run Query: Retrieve all data from the artists table. Look at the list of artists, how many artists are you familiar with (there is no wrong answer here)?

Run Query: Retrieve all data from the invoices table. What is the billing address for customer 31?

Run Query: Return the playlist id, and name from the playlists table. How many playlists are there? Which would you classify is your favorite from this list?

Run Query: Return the Customer Id, Invoice Date, and Billing City from the Invoices table. What city is associated with Customer ID number 42? What was the invoice date for the customer in Santiago?

Run Query: Return the First Name, Last Name, Email, and Phone, from the Customers table. What is the telephone number for Jennifer Peterson?

Run Query: Return the Track Id, Genre Id, Composer, Unit Price from the Tracks table. How much do these tracks cost?

Run Query: Select all the columns from the Playlist Track table and limit the results to 10 records. How might this information be used?

Run Query: Select all the columns from the Media Types table and limit the results to 50 records. What happened when you ran this query? Were you able to get all 50 records?

Run Query: Select all the columns from the Albums table and limit the results to 5 records. How many columns are in the albums table?

Retrieve all the records from the Employees table. What is Robert King's mailing address?

Retrieve the FirstName, LastName, Birthdate, Address, City, and State from the Employees table. **Which of the employees listed below has a birthdate of 3-3-1965?**

Retrieve all the columns from the Tracks table, but only return 20 rows. **What is the runtime in milliseconds for the 5th track, entitled "Princess of the Dawn"? Note: You will need to scroll to the right to see it, and you may want to copy and paste the number to ensure it is entered correctly.**

 Find the first and last name of any customer who does not have an invoice. Are there any customers returned from the query?

Find the total price for each album.

What is the total price for the album “Big Ones”? (Based on the tracks)

How many records are created when you apply a Cartesian join to the invoice and invoice items table?

 How many albums does the artist Led Zeppelin have?