In [ ]:
# run `!pip install ipython-sql` to install sql module
%load_ext sql

In [ ]:
%sql postgresql://lecturer:KUOgN6chetHuZ9f9wZ0c@dsc-inf.postgres.database.azure.com/music-store

Run Query: Retrieve all data from the artists table. Look at the list of artists, how many artists are you familiar with (there is no wrong answer here)

In [ ]:
%sql select * from artists limit 5

Run Query: Find all the tracks that have a length of 5,000,000 milliseconds or more. **How many tracks are returned?**

Run Query: Find all the invoices whose total is between 5 and 15 dollars.

Run Query: Find all the customers from the following States: RJ, DF, AB, BC, CA, WA, NY.

What company does Jack Smith work for?

Run Query: Find all the invoices for customer 56 and 58 where the total was between 1.00 and 5.00 dollars.

What was the invoice date for invoice ID 315?

Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

Run Query: Find the albums with 12 or more tracks.